[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
flask = "*"
procfile = "*"
gunicorn = "*"
request = "*"
pymongo = {extras = ["srv"]}
"oauth2client" = "*"
gspread = "*"
pandas = "*"
so = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
